#walrus-showing {
  width: 80%;
  display: none;
}

img {
  width: 80%;
}

.clickable {
  cursor: pointer;
  color: violet;
}

#fade-out-text{
  color: aqua;
}

#prompt-text{
  color: red;
}

.clickable:hover {
  text-decoration: underline;
}

.initially-hidden {
  display: none;
}

.babyemu {
  cursor: pointer;
  color: teal;
}

.babyemu:hover {
  text-decoration: underline;
}